@model IEnumerable<RopaStore.Domain.Entidad.Trabajador>

@{
    ViewData["Title"] = "list";
}

<h1>Listado de trabajadores</h1>
<form>
    <em>Nombre a filtrar</em>
    @Html.TextBox("nom")
    <button class="btn btn-secondary">Consultar</button>
</form>
<p>
    <a asp-action="Create" class="btn btn-info">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idtrabajador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idcargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idarea)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idtrabajador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idcargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idarea)
            </td>
            <td>
                    @Html.ActionLink("Actualizar", "Edit", new { id=item.idtrabajador},new {@class="btn btn-secondary"}) |
                    @Html.ActionLink("Eliminar", "Delete", new { id=item.idtrabajador}, new { onclick = "return confirm('¿Está seguro que desea eliminar este registro?')" })
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    @for (int i = 0; i < (int)ViewBag.pags; i++)
    {
        if ((int)ViewBag.p == i)
        {
            @Html.ActionLink((i+1).ToString(),"list",
    new{p=i, nom=ViewBag.nom},new{@class="btn btn-info"})
        }
        else
        {
            @Html.ActionLink((i+1).ToString(),"list",
    new{p=i, nom=ViewBag.nom},new{@class="btn btn-dark"})
        }
    }
</div>
