@model IEnumerable<RopaStore.Domain.Entidad.Producto>

@{
    ViewData["Title"] = "list";
}
<form>
    <em>Escoja un proveedor</em>
    @Html.DropDownList("idproveedor", ViewBag.proveedor as SelectList, new {@class="btn btn-light dropdown-toggle"})
    <button class="btn btn-secondary">Consulta</button>
</form>
<br />
<a asp-action="Canasta" class="btn btn-info">Ir a la Canasta</a>
<a asp-action="Comprar" class="btn btn-info">Ir a Comprar</a>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idproducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idtipopro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idproveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stockmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stockmax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idlote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idproducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idtipopro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idproveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stockmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stockmax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idlote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                    @Html.ActionLink("Agregar al carrito", "Detalle", new { id=item.idproducto }, new {@class="btn btn-outline-dark"})
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    @for (int i = 0; i < (int)ViewBag.pags; i++)
    {
        if ((int)ViewBag.p == i)
        {
            @Html.ActionLink((i+1).ToString(),"list",
    new{p=i, idproveedor=ViewBag.idproveedor},new{@class="btn btn-info"})
        }
        else
        {
            @Html.ActionLink((i+1).ToString(),"list",
    new{p=i, idproveedor=ViewBag.idproveedor},new{@class="btn btn-dark"})
        }
    }
</div>

